<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-color: orange;
            display: flex;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .content {
            text-align: center;
        }

        .grid-container {
            display: grid;
            grid-template-columns: auto auto;
            padding: 10px;
        }

        .grid-item {
            padding: 5px;
            text-align: center;
        }
    </style>

    <script>
        window.onload = function() {
            document.getElementById('findCarsButton').disabled = true;
        };

        function enableButton() {
            document.getElementById('findCarsButton').disabled = false;
        }
    </script>
</head>

<body>
    <div class="content">
        <h1>BestChoice Cars</h1>
        <h3>Choose price range to find available cars</h3>
        <div class="grid-container">
            <div class="grid-item">
                <label for="priceRange">Price Range:</label>
            </div>
            <div class="grid-item">
                <form action="#" th:action="@{/chooseCarToBuy}" method="post">
                    <input type="radio" id="lessThan20000" name="priceRange" onclick="enableButton()" value="lessThan20000">
                    <label for="lessThan20000"> < 20000</label><br>
                    <input type="radio" id="moreThan20000" name="priceRange" onclick="enableButton()" value="moreThan20000">
                    <label for="moreThan20000"> > 20000</label><br>
                    <button type="submit" id="findCarsButton">Find Cars</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
